/* START FOR LANDING PAGE */

/* Container Layout */

.container {
	max-width: 1140px !important;
}

/* section-navbar */

.helper {
	font-size: 14px;
}

nav {
	/* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
	box-shadow: 0 6px 10px #bbbbbb59;
}

nav .navbar-brand img {
	width: 230px;
}

nav .dropdown {
	color: #0060ae;
	font-weight: 700;
	font-size: 16px;
	padding-left: 34px;
}

nav .dropdown:hover {
	cursor: pointer;
}

nav .login-button {
	color: #0060ae !important;
	font-weight: 700;
	font-size: 18px;
}

.navbar-nav .nav-link.active,
.navbar-nav .show .nav-link {
	color: #0060ae !important;
}

.d-content {
	display: none;
	position: relative;
	height: 460px;
	padding-top: 20px;
	background-color: #fff;
	width: 100%;
	box-shadow: 0 0 0 0 rgb(0 0 0 / 12%), 0 4px 4px 0 rgb(0 0 0 / 24%);
}

.d-content .row .col-8 {
	border-left: 1px solid gray;
}

.d-content ul {
	padding-left: 0;
}

.d-content ul li {
	list-style: none;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2em;
	margin-bottom: 20px;
}

.helper {
	background-color: #ccdfef;
}

.search {
	width: 500px;
}

.search input {
	background-color: #f5f5f5;
	border-radius: 21px;
	border: 1px solid #fff;
}

nav img {
	width: 30px;
}

/* section-header */

.section-header {
	margin-top: 160px;
}

.carousel-1 {
	background-color: lightgrey;
	height: 374px;
}

.promo-item {
	background-color: lightgrey;
	height: 180px;
}

/* section-category */

.section-category .icon p {
	font-size: 14px;
	font-weight: 700;
	padding-top: 16px;
	color: #281e5adb;
}

/* section-recomendation */

.section-recomendation h2 {
	font-size: 24px;
	font-weight: 700;
}

.book-list .book-item {
	padding: 15px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.book-item {
	height: 350px;
}

.book-item img {
	width: 100%;
}

.book-list .book-item .book-identity .author {
	color: gray;
	font-size: 12px;
}

.book-list .book-item .book-identity .title {
	color: #000;
	font-size: 16px;
}

.book-list .book-item .book-identity .price {
	color: blue;
	font-size: 18px;
	font-weight: 600;
}

.book-list .book-item .book-identity .original-price {
	color: gray;
	font-size: 14px;
	text-decoration: line-through;
	font-style: italic;
}

/* Footer */

footer .footer-1 {
	height: 120px;
	background-color: #ccdfef;
}

footer .footer-1 h2 {
	font-size: 25px;
}

footer .footer-1 .email-input {
	width: 500px;
	height: 40px;
	border: none;
	border-radius: 10px;
}

footer .footer-2 {
	padding-top: 20px;
	padding-bottom: 30px;
}

footer .footer-2 p {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 20px;
	color: #0060ae;
}

footer .footer-2 ul {
	padding-left: 0;
}

footer .footer-2 ul li {
	text-decoration: none;
	list-style: none;
	font-size: 14px;
	padding-top: 12px;
}

footer .footer-2 span {
	font-size: 14px;
}

footer .footer-3 {
	height: 80px;
	box-shadow: 0 -2px 10px #e5e5e5;
}

footer .footer-3 .navbar-brand img {
	width: 230px;
}

footer .footer-3 p {
	font-size: 18px;
	color: #6d6d6d;
}

footer .footer-3 a img {
	width: 30px;
}

footer .footer-4 {
	padding: 10px 0;
	font-size: 12px;
	color: #0060ae;
	background-color: #ccdfef;
}

/* END FOR LANDING PAGE */
