/* START FOR DETAIL PAGE */
.border {
	border-width: 10px rgb(14, 13, 13);
}

.header {
	background-color: rgb(218, 212, 212);
}

.title-grandmedia {
	text-align: left;
}

.main-title {
	text-align: center;
}

.grid {
	display: grid;
}

.grid-cols-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 100px;
}

.grid-cols-5 {
	grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-rows-1 {
	grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-span-4 {
	grid-row: span 4 / span 4;
}
.row-span-8 {
	grid-row: span 8 / span 8;
}

.row-span-2 {
	grid-row: span 2 / span 2;
}

.gap-4 {
	gap: 1rem;
}

.card-body {
	margin-left: 30px;
    border-radius: 5px;
    /* border-width: 10px; */
    height: 99px;
    overflow-y: auto;
}
.card {
	width: 10rem;
}
.main-card {
	width: 18rem;
}

/* .container {
	margin-top: 20px;
} */

.recomendation {
	margin-top: 40px;
	background-color: #ccdfef;
	border-radius: 20px;
}

.list-card {
	margin: 0px 10px 0px 10px;
}

.card-recomendation {
	width: inherit;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.body-card{
	max-height: max-content;
}

.detailPage{
	margin-top: 96px;
}


/* END FOR DETAIL PAGE */
