/* START FOR DETAIL PAGE */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
.border {
	border-width: 10px rgb(14, 13, 13);
}

.header {
	background-color: rgb(218, 212, 212);
}

.title-grandmedia {
	text-align: left;
}

.main-title {
	text-align: center;
}

.grid {
	display: grid;
}

.grid-cols-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 100px;
}

.grid-cols-5 {
	grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-rows-1 {
	grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-span-4 {
	grid-row: span 4 / span 4;
}
.row-span-8 {
	grid-row: span 8 / span 8;
}

.row-span-2 {
	grid-row: span 2 / span 2;
}

.gap-4 {
	gap: 1rem;
}

.card-body {
	width: 100%;
    font-family: Nunito,serif;
    padding: 20px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(229 229 229 / 80%);
}

.card-text{
	margin-bottom: 5px;
    word-wrap: break-word;
	color: #0060ae;
	font-size: 25px;
}
.card {
	width: 10rem;
}
.main-card {
	width: 18rem;
}

.title-desc{
	font-family: Nunito,serif;
    font-weight: 700;
    font-size: 25px;
    color: #151515;
}

/* .body {
    margin: 0;
    padding-top: 88px;
    color: #0060ae;
    background: #fff;
} */
/* .container {
	margin-top: 20px;
} */

.recomendation {
	margin-top: 40px;
	background-color: #ccdfef;
	border-radius: 20px;
}

.list-card {
	margin: 0px 10px 0px 10px;
}

.card-recomendation {
	width: inherit;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.body-card{
	max-height: max-content;
}

.detailPage{
	margin-top: 11px;
}

.detailPage h3{
	font-family: Nunito,serif;
    font-weight: 700;
    font-size: 25px;
    color: #151515;
    margin-bottom: 15px;
}

.tabs-book{
	border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}

.tabs-book a {
	flex: 0 0 auto;
    font-family: Nunito,serif;
    font-size: 15px;
    font-weight: 700;
    /* color: #6d6d6d; */
    margin-left: 20px;
}

.active{
	color: #0060ae;
}

.card-format{
	/* position: absolute; */
    /* left: 0%;
	width: 100%;
    font-family: Nunito,serif;
    padding: 20px;
	font-size: 10px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(229 229 229 / 80%); */

	border: 1px solid #0060ae;
	margin: 5px 10px 5px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(229 229 229 / 80%);

	width: 190px;
    height: 106px;
}

.card-text-format{
	text-transform: uppercase;
    font-family: Nunito,serif;
    font-weight: 700;
    font-size: 20px;
    color: #151515;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card-text-start {
	font-family: Nunito,serif;
    font-weight: 700;
    font-size: 15px;
    color: #6d6d6d;
    text-align: left;
	margin-top: -19px;
}
.card-text-prices {
	font-family: Nunito,serif;
    color: #0060ae;
    text-align: left;
    white-space: nowrap;
    font-weight: 700;
    font-size: 20px;
}

/* END FOR DETAIL PAGE */
