@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

/* index.css */
.modal .modal-content .modal-body {
  padding: 0 30px 30px;
  overflow-y: auto;
  max-height: 65vh;
}

.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  margin: auto;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}


/* .main-modal{

} */

.store-content {
  justify-content: space-between;
  border: none;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  padding: 12px;
  text-align: left;
  width: 100%;
  font-family: Nunito,serif;
  margin-bottom: 20px;
}
.d-flex {
  display: flex!important;
}
.list-store
  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.list-store li {
  filter: drop-shadow(0 0 10px rgba(229, 229, 229, .8));
}