.border {
    border-width: 10px red;

}

.header{
    background-color: rgb(218, 212, 212);
}

.title-grandmedia{
    text-align: left;
}

.main-title {
    text-align: center;
}

.grid{
    display: grid;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-span-4 {
    grid-row: span 4 / span 4;
}
.row-span-8 {
    grid-row: span 8 / span 8;
}

.row-span-2 {
    grid-row: span 2 / span 2;
}


.gap-4 {
    gap: 1rem;
}

.card-body{
    margin-left: 30px;
    border-radius: 10px;
    /* border-width: 10px; */
}
.card {
    width: 15rem;
}
.main-card {
    width: 18rem;
}

.container{
    margin-top: 20px;
}

.recomendation {
    margin-top: 40px;
}

.list-card{
    margin: 0px 10px 0px 10px
}